* {
	height: 100%;
	width: 100%;
	marding: 0;
	padding: 0;
	font-family: "Sixtyfour Convergence", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to top, #596e79, #c7b198, #dfd3c3, #f0ece2);
	margin: 0;
	position: relative;
	height: 100vh;
}

header {
	position: relative;
	text-align: center;
}

.nav-bar {
	position: relative;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
}

.game-board {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	width: 20.5rem;
	gap: 0.25rem;
	position: relative;
	align-self: center;
	border: 0.25rem solid black;
	border-radius: 100%;
	padding: 1rem;
	background-color: #34495e;
}


.btn {
	width: 10rem;
	height: 10rem;
	border: 0.25rem solid #36454F;
	opacity: 0.75;
}


.red {
	background-image: linear-gradient(to left top, #fd5c63, #9e1b32);
	border-radius: 100% 0 0 0;
}

#red {
	background-image: none;
	background-color: #9e1b32;
	opacity: 1;
	border: 0.40rem solid #28282B;
}

.blue {
	background-image: linear-gradient(to right top, #7CB9E8, #00308F);
	border-radius: 0 100% 0 0;
}

#blue {
	background-image: none;
	background-color: #00308F;
	opacity: 1;
	border: 0.40rem solid #28282B;
}

.green {
	background-image: linear-gradient(to left bottom, #4FFFB0, #00563B);
	border-radius: 0 0 0 100%;
}

#green {
	background-image: none;
	background-color: #00563B;
	opacity: 1;
	border: 0.40rem solid #28282B;
}

.yellow {
	background-image: linear-gradient(to right bottom, #F0E68C, #FEBE10);
	border-radius: 0 0 100% 0;
}

#yellow {
	background-image: none;
	background-color: #FEBE10;
	opacity: 1;
	border: 0.40rem solid #28282B;
}

footer {
	position: relative;
	text-align: center;

}